<style>

.product{
    background:#dedede;
    padding:20px;
    width:200px;
    position:relative;
}

.product img{
    width:100%;
}

.discount{
    position:absolute;
    top:-50px;
    right:-50px;
}

.feedback{
    background:#444;
    color:#FFF;
    width:100px;
    padding:20px;
    position:fixed;
    left:450px;
    top:250px;
}

.product:hover {
    opacity:0.8;
    cursor:pointer;
    font-size:80px;
}

</style>
<!-- Contoh position relative & absolute -->
<div class="product">
    <img src="http://via.placeholder.com/250x150">
    <h2>Product 1</h2>
    <p>Rp 250.000</p>

    <!--  Discount dianggap layer baru karena absolute, akan tampil diatas product -->
    <div class="discount">
        <img src="percentage.png" alt="">
    </div>
</div>

<!-- Contoh position fixed -->
<div class="feedback">
Feedback
</div>