<form action="#" method="post">
    <label for="">Name</label><br/>
    <input type="text" name="name" required="required" autofocus/>
    <br/>
    <label for="">Name</label><br/>
    <input type="text" name="email" /><br/>
    <button type="submit">Daftar</button>
</form>