<link rel="stylesheet" href="style.css">

<div class="kotak-atas">
    Dolofsdfds
</div>

<div class="kotak-bawah">
    Dolor consequat reprehenderit non 
    consectetur minim eu sit amet aliqua 
    ea tempor dolore in. Dolore enim in 
    cupidatat do laboris nulla voluptate. 
</div>