<style>
img{
    display:inline;
}
</style>

<img width="300" src="https://i.imgur.com/2IJDcYWb.jpg" alt="Gambar Contoh" title="Gambar Contoh">
<img width="300" src="deadpool.jpg" alt="Gambar Contoh" title="Gambar Contoh">