<style>
h1, h2, h3{
    color:orange;
}

p{
    color: red;
    background:yellow;
    font-size:40px;
    text-align:center;
    font-family: "Helvetica";
    border:5px dotted black;
}

</style>

<h1>Judul Utama</h1>
<h2>Judul Utama</h2>
<h3>Judul kedua</h3>

<p>Lorem ipsum dolor</p>
