<style>
   .header{
       background:red;
       padding:20px;
   }
   .content-left{
        background:green;
        padding:20px;
   }
        .content-left ul{
            margin-bottom:50px;
        }

   .content-right{
        background: yellow;
        padding:20px;
        font-size:20px;
   }
   .footer{
        background:#23D1B9;
        color:#FFF;
        padding:20px;
        text-align: center;
   }
</style>

<table width="100%">
    <tr>
        <td colspan="2" class="header">
            <h1>ResepMakanan.Com</h1>
        </td>
    </tr>
    <tr valign="top">
        <td width="20%" class="content-left">
            <b>Menu</b>
            <ul>
                <li>Home</li>
                <li>Resep</li>
                <li>Faq</li>
                <li>Kontak</li>
            </ul>

            <img src="deadpool.jpg" alt=""/>
            
        </td>
        <td width="80%" height="200" class="content-right">
            <!--Ini adalah konten website -->
            <ul>
                <li>Rendang</li>
                <li>Soto</li>
                <li>Mie ayam</li>
            </ul>

        </td>
    </tr>
    <tr>
        <td colspan="2" class="footer">
            <b>Copyright &copy; ResepMakanan.Com</b>
        </td>
    </tr>
</table>