<table width="100%">
    <tr>
        <td colspan="5" style="background:red">
            <h1>Selamat Datang di ResepMakanan.Com</h1>
        </td>
    </tr>
    <tr valign="top">
        <td width="50" style="background:green">
            <b>Menu</b>
            <ul>
                <li><a href="#">Home</li>
                <li>Daftar Resep</li>
                <li>Kontak</li>
            </ul>
        </td>
        <td width="400" height="200" style="background:purple">
            <h4>Kumpulan Resep</h4>
            <ul>
                <li><a href="#">Ayam Rica Rica</a></li>
                <li><a href="#">Sambal Matah</a></li>
                <li><a href="#">Sup Kambing</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background:blue">
            <b>Copyright &copy; ResepMakanan.Com</b>
        </td>
    </tr>
</table>