img {
    margin: 0;
} 
hr {
    width: 200px;
    border: 1px solid gray;
}
.navbar{
    background: #1d1c1c;
}

.navbar-header p{
    color: #FFF;
}
.navbar ul.navbar-right li a{
    color:#FFF;
}
.jumbotron{
    background: #03ee80;
    margin-top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.jumbotron img{
    width: 200px;
    border: 4px solid #FFF;
}
.thumbnail {
    width: 300px;
    margin-right: 20px;
}

.image {
    padding: 30px;
}

.about{
    padding-top: 20px;
    min-height: 400px;
    background: #03ee80;
    color: #FFF;
    margin-bottom: 20px;
}
.about p{
    padding: 10px;
}
.about hr{
    border: 1px solid #FFF;
}
.about button {
    background: #03ee80;
    color: #FFF;
    padding: 10px;
    margin-top: 20px;
}

.contact button{
    background: #03ee80;
    color: #FFF;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info {
    min-height: 150px;
    background: #1e114e;
    padding:40px;
    color: #FFF;
}
.info p{
    font-weight: bold;
}
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 25px;
    background: #1e114e;
    color: #FFF;
}
.lokasi p{
    font-weight: normal;
}
.freelance p {
    font-weight: normal;
}
.freelance span{
    color: #03ee80;
}
.footer{
    min-height: 40px;
    background: #1d1c1c;
    color: #FFF;
}
.footer p{
    padding: 20px;
    margin: 0;
    font-size: 12px;
}