<!--
selector nama tag
selector dengan koma (multiple select)
selector dengan spasi (parent child)
selector dengan id & class
selector spesifik (nama tag + class / id)
selector multiple class (dalam satu tag ada beberapa class)
selector dengan atribut
selector pseudoclass
-->

<style>

ul li:nth-child(2){
    color:lightblue;
    background: indianred;
}

</style>

<ul>
    <li>Pertama</li>
    <li>Kedua</li>
    <li>Ketiga</li>
</ul>