<form action="#" method="post">
    <input type="text" name="email" placeholder="Please insert an Email .." required autofocus/>
    <input type="text" name="password" placeholder="Please insert an Password .." required/>
    
    <button type="submit">Submit</button>
</form>
