* {
    padding:0;
    margin:0;
}
body {
    background-color: #680612;
}
.header {
    margin-bottom: 50px;
}
.header h2{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    background-color: #680612;
}

img {
    border:1px solid #fff;
}

.table {
    color: #fff;
}

.table tbody tr:nth-child(even), .table thead tr {
    background-color: #A4292E;
}

.profil {
  background-color: #e85050;
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif; 
  font-size: 14px;
  padding: 5px;
  width: 60px;
  border-radius: 10%;
  overflow: hidden;
}
.profillink {
    transition: all 0.2s linear 0s;
}
.profillink:before{
    content: "\f16d";
    font-family: FontAwesome;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    transition: all 0.2s linear 0s;
}
.profillink:hover{
    text-indent: -9999px;
    color: #fff;
    text-decoration: none;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    width: 30px;
}
.profillink:hover:before{
    top: 0;
      text-indent: 0;
}
.profillink:link{
   color: #fff;
   text-decoration: none;
}
