<h1>Data Karyawan</h1>
<table border="1">
    <tr>
        <th>Nama</th>
        <th>Telepon</th>
    </tr>
    <tr>
        <td>Fahmi</td>
        <td>087778086140</td>
    </tr>
    <tr>
        <td>Joni</td>
        <td>08777665521</td>
    </tr>

</table>