<h1>Resep Pancake</h1>

<h2>Bahan</h2>
<ul>
    <li>250gr tepung terigu</li>
    <li>1 butir telur</li>
    <li>1/2 gelas susu</li>
    <li>Susu bubuk putih</li>
    <li>1 adm baking powder</li>
</ul> 

<ol type="A">
    <li>250gr tepung terigu</li>
    <li>1 butir telur</li>
    <li>1/2 gelas susu</li>
    <li>Susu bubuk putih</li>
    <li>1 adm baking powder</li>
</ol> 